<div class="container">
  <header>
    <div class="navbar navbar-light shadow-sm">
      <div class="container">
        <span class="logo">
          <img src="https://new.siemens.com/etc.clientlibs/siemens-sites/components/content/header/clientlibs/resources/logo/siemens-logo-default.svg" alt="Logo: Siemens">
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <img src="assets/logo.png" alt="Logo: Siemens">
        </button>
      </div>
    </div>
  </header>
 
    <router-outlet></router-outlet>
</div>



